.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.aux
*.bbl
*.blg
*.log
*.swp
*.synctex.gz
*.nav
*.out
*.pdf
*.csv
*.snm
*.toc
*.png
*.jpg
*.DELETEME.*
DELETEME
*.BACKUP.*
*output*
stderr.*
stdout.*
*GIT-IGNORE*
*ipynb_checkpoints
data-downloaded
__pycache__
*.pyc
ARCHIVE
