
.reveal .title {
    font-size: 65px;
}

.reveal .author {
    font-size: 10px;
    color: black;
}

.reveal .date {
    font-size: 65px;
}

.reveal section img {
    border: none;
    box-shadow: none;
  }
